*{
  font-family: 'Red Hat Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background: #acb6e5;  
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  
  background: linear-gradient(to right, #86fde8, #acb6e5); 
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

#nav-bar{
  text-align: center;
}





#todo{
  color: rgb(179, 109, 29);
}

#button {
  font-size: 16px;
  padding: 1em 3.3em;
  transform: perspective(200px) rotateX(15deg);
  color: rgb(70, 49, 49);
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 135, 252, 1) 100%
  );
  box-shadow: rgba(151, 45, 42, 0.2) 0px 40px 29px 0px;
  will-change: transform;
  transition: all 0.3s;
  border-bottom: 2px solid rgba(70, 135, 252, 1);
}

#button:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

#button:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}

.btn-eliminar {
  background-color: red;
}


#tiempo-real {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#box1, #box2, #box3 {

 display: inline-block;
 text-align: center;
 vertical-align: middle;
 padding-top: 30px;
 width: 300px;
 height: 200px;
 background: #bbc6d3;  
 border-radius: 60px;
 
}
